# This repo is meant to sync my configs and scripts between my linux machines
# ignore everything
*

# except the following, which are configs
!.zshrc
!.gitconfig
!.gitignore
!.vimrc
!.radian_profile
!.config/alacritty/alacritty.yml
!.README.md
!scripts/*
